@import url('https://fonts.googleapis.com/css?family=Nunito:400,700,900&display=swap&subset=latin-ext');

:root {
	--primary-color: #ff9800;
}

body {
	min-width: 270px;
	background-color: white;
	color: #161e2b;
	font-family: 'Nunito', sans-serif;
	padding: 0;
	margin: 0;
}

[data-hidden='true'] {
	display: none;
}

[v-cloak] {
	display: none;
}
